@model HD_Trailer.youtube

@{
    ViewBag.Title = "Delete";
}


<div>

    <dl class="dl-horizontal">
        <dt style="color: #dc3545; font-size:24px; padding-top:20px">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt style="color: #dc3545; font-size:24px; padding-top:20px">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt style="color: #dc3545; font-size:24px; padding-top:20px">
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h2 style="padding-top:20px; padding-bottom:20px">Estas seguro de querer eliminar este trailer?</h2>

        <div class="form-actions no-color">
            <center>
                <button class="btn btn-warning" type="submit"><img src="~/Content/img/pop.png" style="height:30px ; " width: 30px"; padding-top:20px; /> Eliminar</button>
            </center> 
        </div>
    }
</div>
