@model IEnumerable<HD_Trailer.youtube>

@{
    ViewBag.Title = "ForosPublicados";
}

<div class="row gx-4 gx-lg-5">
    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h2>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
                        <iframe width="365" height="315" src="@Html.DisplayFor(modelItem => item.url)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="card-footer" style="text-align:center">
                            <a class="btn btn-primary btn-sm" href="@Html.DisplayFor(modelItem => item.url)">Editar Trailer  <img src="~/Content/img/yt.png" style="height:20px ; " width: 20px" /></a>
                            <a class="btn btn-primary btn-sm" href="@Html.DisplayFor(modelItem => item.url)">Eliminar Trailer  <img src="~/Content/img/yt.png" style="height:20px ; " width: 20px" /></a>
                        </div>
                    }
                    else
                    {
                        <div class="card-footer" style="text-align:center"><a class="btn btn-primary btn-sm" href="@Html.DisplayFor(modelItem => item.url)">Ver en YouTube  <img src="~/Content/img/yt.png" style="height:20px ; " width: 20px" /></a></div>
                    }
                </div>
            </div>
        }
    }
</div>


