@model  IEnumerable<HD_Trailer.youtube>

@{
    ViewData["Title"] = "Inicio";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Small Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>

<script src="~/Content/lib/jquery/dist/jquery.js"></script>

<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-movies-1614634680.jpg" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">¿Estas buscando los mejores trailers de pelicula?</h1>
            <p>Estas en el lugar correcto! Tenemos todos los trailers del momento, puestos al alcance de tu mano!</p>

            <a style="color:white; margin-left:20%" class="btn btn-primary" href="Home/ForosPublicados"> Mira todos los trailers! <img src="~/Content/img/verMovie.png" style="height:30px ; " width: 30px" /></a>
        </div>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            <a style="color:white; margin-left:45%; margin-bottom:2%" class="btn btn-primary" href="Home/nuevoPost"> Agregar trailer <img src="~/Content/img/AddMovie.png" style="height:30px ; " width: 30px" /></a>

        </div>
    }
    else
    {
        <div>

        </div>
    }

    <div class="row gx-4 gx-lg-5">
        @if (Model != null)
        {
            int contador = 3;
            while (contador > 0)
            {
                foreach (var item in Model)
                {

                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h2>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.descripcion)</p>
                            <iframe width="335" height="315" src="@Html.DisplayFor(modelItem => item.url)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="card-footer" style="text-align:center">
                                <a class="btn btn-primary btn-sm" href="@Html.DisplayFor(modelItem => item.url)">Editar Trailer  <img src="~/Content/img/editMovie.png" style="height:20px ; " width: 20px" /></a>
                                <a class="btn btn-danger btn-sm" href="@Html.DisplayFor(modelItem => item.url)">Eliminar Trailer  <img src="~/Content/img/deleteMovie.png" style="height:20px ; " width: 20px" /></a>
                            </div>
                        }
                        else
                        {
                            <div class="card-footer" style="text-align:center"><a class="btn btn-primary btn-sm" href="@Html.DisplayFor(modelItem => item.url)">Ver en YouTube  <img src="~/Content/img/yt.png" style="height:20px ; " width: 20px" /></a></div>
                        }
                    </div>
                </div>
                    contador -= 1;

                    if (contador == 0)
                    {
                        break;
                    }

                }
            }
        }
    </div>
</div>
