@model HD_Trailer.usuarios

<link href="~/Content/css/styleLR.css" rel="stylesheet" />

<section class="user">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">
                 <center>
                    <img  src="~/Content/img/notas.png" alt="logo" style="height: 70px; width: 70px "/>
                </center>
                <h2 class="user_unregistered-title">¿Eres #Eladmin?</h2>
                <p class="user_unregistered-text">Registra cuentas para otros administradores!</p>
                <button class="user_unregistered-signup" id="signup-button">Registrate</button>
            </div>

            <div class="user_options-registered">
                <center>
                    <img  src="~/Content/img/cerrajero.png" alt="logo" style="height: 70px; width: 70px "/>
                </center>
                <h2 class="user_registered-title">¿Quieres agregar nuevas peliculas?</h2>
                <p class="user_registered-text">Accede a tu cuenta de admin.</p>

                <button class="user_registered-login" id="login-button">Inicia Sesion</button>
            </div>
        </div>

        <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-login">
                @using (Html.BeginForm("InicioSesion", "Home"))
                {
                    @Html.AntiForgeryToken()                                  
                    <h2 class="forms_title" style="padding-top: 30px">Inicia Sesion</h2>
                    <form class="forms_form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control forms_field-input", @placeholder = "E-mail" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                            <div class="forms_field">

                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @type = "password", @class = "form-control forms_field-input", @placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </fieldset>

                        <div class="forms_buttons">
                            <input type="submit" value="Accede" class="forms_buttons-action">

                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <label>@ViewBag.Notification</label>
                            </div>
                        </div>
                    </form>
                }
            </div>

            <div class="user_forms-signup">
                @using (Html.BeginForm("Registro", "Home"))
                {
                    <h2 class="forms_title" style="padding-top: 30px">Registrate</h2>
                    <form class="forms_form">
                        <fieldset class="forms_fieldset">
                            
                            <div class="forms_field">
                                @Html.EditorFor(model1 => model1.username, new { htmlAttributes = new { @class = "form-control forms_field-input", @placeholder = "Nombre" } })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                            <div class="forms_field">
                                @Html.EditorFor(model1 => model1.password, new { htmlAttributes = new { @class = "form-control forms_field-input", @placeholder = "Password" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>

                        </fieldset>
                        <div class="forms_buttons">

                            <input type="submit" value="Registrate" class="forms_buttons-action">
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <label>@ViewBag.Notification</label>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</section>

<script src="~/Content/js/scriptLR.js"></script>
