@model HD_Trailer.youtube

@using (Html.BeginForm("GuardarPost", "Home"))
{

    <link href="~/css/styles.css" rel="stylesheet" />

    <center>
        <img src="~/Content/img/blog.png" alt="logo" style="height: 120px; width: 100px ; padding-top: 20px" />
    </center>

    <div class="mb-3">
        <label for="validationTextarea" class="form-label" style="padding-top: 30px">Titulo del trailer</label>
        <section>
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control forms_field-input", @placeholder = "Nombre de la pelicula" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </section>
        <div class="invalid-feedback">
        </div>
    </div>

    <div class="mb-3">
        <label for="validationTextarea" class="form-label" style="padding-top: 15px">Descripcion del trailer</label><br />
        @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control forms_field-input", @placeholder = "Informacion necesaria..." })
        @*
            <textarea class="form-control is-invalid" id="validationTextarea" required @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control forms_field-input", @placeholder = "Informacion necesaria..." } })</textarea>
        *@
        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        <div class="invalid-feedback">
        </div>
    </div>

        <div class="mb-3">
            <label for="validationTextarea" class="form-label" style="padding-top: 15px">Enlace del trailer</label>
            <section>
                @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control forms_field-input", @placeholder = "Enlace al video en youtube, en formato embed: (https://www.youtube.com/embed/03Ek_0F36BI)" } })
                @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
            </section>
            <div class="invalid-feedback">
            </div>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit"><img src="~/Content/img/AddMovie.png" style="height:30px ; " width: 30px" /> Crear Trailer</button>
        </div>
        }
